<div class='mt-4'>
    <h3>Lập kế hoạch thanh, kiểm tra cơ sở {{store.name}}</h3>

    <form class="mt-4" method='POST' action='/stores/{{store._id}}/afterexamine?_method=PUT'>
        <div class='form-group'>
            <label for='testtime'>Thời gian thanh, kiểm tra</label>
            <input type="date" id="testtime" name="testtime" class="form-control" min="{{store.dated}}">
        </div>

        {{!-- Step 1 --}}
        <div class='form-group'>
            <label for='testatstore'>Kiểm tra tại cơ sở:</label>
            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Cơ sở vật chất</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infrastructure" id="infrastructure1">
                    <label class="form-check-label" for="infrastructure1">
                        Rất tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infrastructure" id="infrastructure2">
                    <label class="form-check-label" for="infrastructure2">
                        Tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infrastructure" id="infrastructure3">
                    <label class="form-check-label" for="infrastructure3">
                        Bình thường
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infrastructure" id="infrastructure4">
                    <label class="form-check-label" for="infrastructure4">
                        Tệ
                    </label>
                </div>
            </div>
            {{!-- smt --}}
            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Chất lượng phục vụ</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="service" id="service1">
                    <label class="form-check-label" for="service1">
                        Rất tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="service" id="service2">
                    <label class="form-check-label" for="service2">
                        Tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="service" id="service3">
                    <label class="form-check-label" for="service3">
                        Bình thường
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="service" id="service4">
                    <label class="form-check-label" for="service4">
                        Tệ
                    </label>
                </div>
            </div>
            {{!-- smt --}}
            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Vệ sinh cơ sở</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="hygiene" id="hygiene1">
                    <label class="form-check-label" for="hygiene1">
                        Rất tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="hygiene" id="hygiene2">
                    <label class="form-check-label" for="hygiene2">
                        Tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="hygiene" id="hygiene3">
                    <label class="form-check-label" for="hygiene3">
                        Bình thường
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="hygiene" id="hygiene3">
                    <label class="form-check-label" for="hygiene3">
                        Tệ
                    </label>
                </div>
            </div>
            {{!-- smt --}}
            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Vệ sinh môi trường xung quanh</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="environment" id="environment1">
                    <label class="form-check-label" for="environment1">
                        Rất tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="environment" id="environment2" >
                    <label class="form-check-label" for="environment2">
                        Tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="environment" id="environment3" >
                    <label class="form-check-label" for="environment3">
                        Bình thường
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="environment" id="environment4" >
                    <label class="form-check-label" for="environment4">
                        Tệ
                    </label>
                </div>
            </div>
        </div>

        {{!-- Step 2 --}}
        <div class='form-group'>
            <label for='exam'>Lấy mẫu thực phẩm và thực hiện kiểm định</label>
            
            <div class="input-group mb-3">
                <label class="input-group-text" style="width: 250px;">Đánh mã các mẫu thực phẩm</label>
                <div class="form-check" style="margin: 10px;">
                    <input class="form-check-input" type="checkbox" value="Hoàn thành" id="code" name="code">
                    <label class="form-check-label" for="code">
                        Hoàn thành
                    </label>
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" style="width: 250px;">Trung tâm thẩm định</label>
                <select class="form-select" id='inspectionunit' name='inspectionunit' style="width: 300px;">
                    <option selected>Chọn...</option>
                    <option value="RED">RED</option>
                    <option value="GREEN">GREEN</option>
                    <option value="BLUE">BLUE</option>
                    <option value="GRAY">GRAY</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" style="width: 250px;">Gửi vào trung tâm thẩm định</label>
                <div class="form-check" style="margin: 10px;">
                    <input class="form-check-input" type="checkbox" value="Hoàn thành" id="sent" name="sent">
                    <label class="form-check-label" for="code">
                        Hoàn thành
                    </label>
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" style="width: 250px;">Ngày nhận kết quả thẩm định</label>
                <input type="date" id="testtime" name="testtime" class="form-control" min="{{store.dated}}">
            </div>

            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Kết quả thẩm định</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="result" id="result1">
                    <label class="form-check-label" for="result1">
                        Rất tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="result" id="result2" >
                    <label class="form-check-label" for="result2">
                        Tốt
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="result" id="result3" >
                    <label class="form-check-label" for="result3">
                        Bình thường
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="result" id="result4" >
                    <label class="form-check-label" for="result4">
                        Tệ
                    </label>
                </div>
            </div>
        </div>

        {{!-- Step 3 --}}
        <div class='form-group'>
            <label for='conclusion'>Kết luận về kết quả thanh kiểm tra</label>
            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Kết luận</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="conclusion" id="conclusion1">
                    <label class="form-check-label" for="conclusion1">
                        Đủ điều kiện
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="conclusion" id="conclusion2" >
                    <label class="form-check-label" for="conclusion2">
                        Không đủ điều kiện
                    </label>
                </div>
            </div>
        </div>
        
        {{!-- Step 4 --}}
        <div class='form-group'>
            <label for='infringe'>Quyết định xử lý vi phạm</label>
            <div class="input-group">
                <span class="input-group-text" style="width: 250px;">Hình thức</span>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infringe" id="infringe1">
                    <label class="form-check-label" for="infringe1">
                        Thu hồi Giấy chứng nhận
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infringe" id="infringe2">
                    <label class="form-check-label" for="infringe2">
                        Xử phạt hành chính
                    </label>
                </div>
                <div class="form-check" style="margin: 15px;">
                    <input class="form-check-input" type="radio" name="infringe" id="infringe3">
                    <label class="form-check-label" for="infringe3">
                        Không có vi phạm
                    </label>
                </div>
            </div>
        </div>

        <button type='submit' class='btn btn-primary'>Lưu kế hoạch</button>
    </form>

</div>
